@tailwind base;
@tailwind components;
@tailwind utilities;

.react-tooltip {
  z-index: 9999 !important;
}

#info-tooltip.react-tooltip__place-top {
  margin-top: -0.5rem !important;
}

#info-tooltip.react-tooltip__place-bottom {
  margin-top: 0.5rem !important;
}

@layer base {
  body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Noto Sans', Helvetica, Arial,
      sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
  }

  kbd {
    @apply inline-block bg-primary-light border border-neutral rounded-md py-1 px-2;
  }

  /* * scrollbar styles */
  body *::-webkit-scrollbar {
    appearance: none;
    width: 7px;
    height: 7px;
  }

  body *::-webkit-scrollbar-thumb {
    @apply bg-gray-700/60 rounded-md;
  }

  body *::-webkit-scrollbar-corner {
    appearance: none;
  }

  @-moz-document url-prefix() {
    body * {
      scrollbar-width: thin;
    }
  }
}

@layer components {
  .i-container {
    @apply w-full max-w-[1660px] px-4 md:px-6 mx-auto;
  }

  .i-modal {
    @apply !w-full !h-[calc(100%_-_32px)] md:!h-[calc(100%_-_48px)];
  }

  .i-shortcut {
    @apply flex flex-wrap items-center gap-2 border-b last:border-b-0 border-neutral p-2;
  }
}
